/data/
/checkpoints/
/models/
/outputs/
/runs/
/logs/
/reports/
/experiments/

*.ipynb~
*.jpg
*.svg
*.pdf
/results/
**/results.md.bak

/infra/docker/.env
/.dockerignore
docker-compose.override.yml
**/tmp/
**/cache/
**/.vscode-server/
.ipynb_checkpoints/
.venv/
venv/
env/
.env
.env.*

*.qdrep
*.ncu-rep
*.nsys-rep
*.nvvp
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

*.out
*.o
*.obj
*.exe
*.a
*.so
*.dll
*.lib
*.exp
*.pdb
/build/
/bin/
/dist/
/__pycache__/
/*.egg-info
.vs
.vscode
.ncu-rep
x64/